streamlit
pandas
nltk
spacy
textblob
scikit-learn
gtts
joblib
matplotlib
groq
google-api-python-client
newspaper3k
python-dotenv
lxml_html_clean
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
